<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <br><br><br>
        <div class="card">
          <div class="card-header">
            <% if (locals.fileLink != null) { %>
              <h4>Share File</h4>
              <% }else{ %>
                <h4>Upload File</h4>
            <% } %>
          </div>
          <div class="card-body">
            <% if (locals.fileLink != null) { %>
              <form action="<%= locals.fileLink %>">
                <div class="mb-3">
                  <label class="form-label" for="password">Share Link:</label>
                  <input class="form-control" name="" value="<%= locals.fileLink %>" />
                </div>
                <div class="">
                  <button class="btn btn-warning" type="submit">Share link</button>
                  <a class="btn btn-danger" href="/">Go to Home</a>
                </div>
              <% }else{ %>
                <form action="/upload" method="post" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label class="form-label" for="file">File:</label>
                    <input class="form-control" type="file" id="file" name="file" required />
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password" />
                  </div>
                  <div class="">
                      <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              <% } %>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
